**Biomedical Software Engineering**

**Prof. Arthur Goldberg**

**Dept. Genetics and Genomic Sciences**

**Spring 1, 2021**

# Advanced Python
## lambda expressions

A lambda expression is an anonymous function with parameters and a single expression. 
A `lambda` behaves like a function object defined with:

    def <lambda>(parameters):
        return expression
See [lambda-expressions](https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions).
Since a lambda expression doesn't have a name, it needs to be used where it's defined. E.g.:

In [ ]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
sorted(pairs, key=lambda pair: pair[1])

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

Better, avoiding unnamed 1 index:

In [ ]:
from collections import namedtuple
NamedTupleExample = namedtuple('NamedTupleExample', 'numeral name')
pairs = [NamedTupleExample(1, 'one'), NamedTupleExample(2, 'two'), NamedTupleExample(3, 'three')]
# pair.name better than pair[1]
# why?
sorted(pairs, key=lambda pair: pair.name)

[NamedTupleExample(numeral=1, name='one'),
 NamedTupleExample(numeral=3, name='three'),
 NamedTupleExample(numeral=2, name='two')]

Alternatively, use an improved namedtuple, `dataclass`.
See [PEP 557](https://www.python.org/dev/peps/pep-0557/). New in version 3.7.

In [ ]:
from dataclasses import dataclass

@dataclass
class Pair:
    ''' Class for example pair '''
    numeral: int
    name: str

pairs = [Pair(1, 'one'), Pair(2, 'two'), Pair(3, 'three'), Pair(4, 'four')]
sorted(pairs, key=lambda pair: pair.name)

[Pair(numeral=4, name='four'),
 Pair(numeral=1, name='one'),
 Pair(numeral=3, name='three'),
 Pair(numeral=2, name='two')]

`lambda`'s helpful with `filter()`, `map()`, etc.
See Python [functions](https://docs.python.org/3/library/functions.html). See [filter](https://docs.python.org/3/library/functions.html#filter). Filter's signature:

    filter(function, iterable)

In [ ]:
@dataclass  # a "decorator"; what's a decorator do?
class Person:
    ''' Class for example person '''
    name: str
    age: float

people = [Person('Ruby', 24), Person('Amelia', 22), Person('Bennett', 60)]
list(filter(lambda person: person.age < 30, people))
# why do I wrap filter in list()?

[Person(name='Ruby', age=24), Person(name='Amelia', age=22)]

In [ ]:
list(filter(lambda person: 24 <= person.age and 'B' in person.name, people))

[Person(name='Bennett', age=60)]

## [`map`](https://docs.python.org/3/library/functions.html#map)

Map's signature:

    map(function, iterable, ...)

In [ ]:
list(map(lambda person: f"{person.name} Goldberg", people))

['Ruby Goldberg', 'Amelia Goldberg', 'Bennett Goldberg']

In [ ]:
list(map(lambda person, num: (num+1, f"{person.name} Goldberg"), people, range(len(people))))

[(1, 'Ruby Goldberg'), (2, 'Amelia Goldberg'), (3, 'Bennett Goldberg')]

## comprehensions

[tutorial](https://docs.python.org/3/tutorial/datastructures.html), [Python language reference](https://docs.python.org/3/reference/expressions.html#displays-for-lists-sets-and-dictionaries). Are you comfortable reading the grammar in the language reference?

In [ ]:
N_SQUARES = 6   # named constants are better than unnamed constants
print(list(map(lambda x: x**2, range(N_SQUARES))))
# list comprehensions
print([x**2 for x in range(N_SQUARES)])
# list of tuples
print('(x, x**2):')
[(x, x**2) for x in range(N_SQUARES)]

[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25]
(x, x**2):

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
# nested for comprehensions with if clause
N_INTS = 3
print([(i, j) for i in range(N_INTS) for j in range(N_INTS) if i != j])

# outer variables are available in inner loops
print([f"x={x}, y={y}" for x in range(N_INTS) for y in range(x, x+N_INTS)])

# and they don't leak into the containing scope
x = None
[x for x in range(N_INTS)]
print(x)

[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1)]
['x=0, y=0', 'x=0, y=1', 'x=0, y=2', 'x=1, y=1', 'x=1, y=2', 'x=1, y=3', 'x=2, y=2', 'x=2, y=3', 'x=2, y=4']
None

Comprehensions can make sets, too.

In [ ]:
{x*x for x in range(N_INTS)}

{0, 1, 4}

And comprehensions can make dictionaries.

In [ ]:
# a hard way
eg = dict(zip(range(N_SQUARES), [x**2 for x in range(N_SQUARES)]))
print(eg)
# a comprehension
{x: x**2 for x in range(N_SQUARES)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}